#heading {
    height: 75px;
    width: 100vw;
    font-size: 50px;
    text-align: center;
}

#enterPlayers {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 11px;
}

#newGame {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 11px;
}

#player1, #messages, #player2 {
    height: 300px;
    border: 1px solid blue;
}

#conversation {
    height: 150px;
    border: 1px solid blue;
    margin-top: 20px;
    overflow: auto;
}

#enterChat {
    height: 50px;
    border: 1px solid blue;
    margin-top: 12px;
}

.game {
    height: 127px;
}

.choice {
    height: 127px;
}

.gameButton {
    width: 125px;
    margin: 2px;
}

.choiceImg {
    height: 100px;
    width: 125px;
}

.choiceText {
    height: 26px;
    width: 125px;
    position: relative;
    bottom: 0px;
    color: white;
    background-color: lightseagreen; 
    text-align: center;
}

.chatLeft {
    text-align: left;
    background-color: antiquewhite;
}

.chatRight {
    text-align: right;
    background-color: lightgray;
}